*,
*::after,
*::before {
    box-sizing: border-box;
}

html,body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    background: #000000;
    background: linear-gradient(to right top, #060606,#050504,#030303,#020201,#000000);
    color:#ffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

button,input {
    outline: none;
    border:none;
    cursor: pointer;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
p {
    margin-top: 1rem;
}
:root {
    --text-size-medium: 1.6rem;
}

.block__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width:100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2rem;

}
.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color:#ffff;
    font-size: 1.6rem;
    line-height: 150%;

}

.header {
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%,0);
    width: 100%;
    z-index: 10;
    padding: 4rem 11rem 3rem  8rem;

}
.header__wrap
 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

}

.header__menu {
    display: flex;
    align-items: center;


}
.header__nav a:not(:last-child)  {
    margin-right: 7.1rem;


}
.header__nav a  {
    font-size: var(--text-size-medium);
    line-height: 150%;

}

.header__logo {
    display: block;
    width:4rem;
    height:4rem;
}
.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #c89afc 9.51%,#7c6afa 90.23%);
    font-size:var(--text-size-medium);
    line-height: 150%;
}
.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-display {
    padding-top: 27rem;

}
.main-display .container {
    position: relative;
    z-index:10;
    padding-bottom: 10rem;
}


.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    line-height: 140%;
    font-weight: 700;

}
.main-display__timer {
    display:flex;
    margin-bottom: 7.6rem;
}
.main-display__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    font-size:var(--text-size-medium);;
    line-height: 150%;
}

.timer__item {
    width:10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.timer__item:not(:last-child) {
    margin-right: 3rem;
}
.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}
.timer__text {
    font-size:var(--text-size-medium);;
    line-height: 140%;
    opacity: 0.4;

}
.main-display__timer {
    margin-bottom: 7.6rem;

}
.work {
    padding-top:20rem;
    padding-bottom:24.3rem;
}
.work__wrap {
    display: flex;


}
.work {
    padding: 20rem 0;
}

.work__wrap {
    display: flex;

}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.6rem;
    padding-top:6.9rem
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);;
    line-height: 160%;
}

.process {
    padding-bottom: 20rem;
    position: relative;
}
.process .process__img {
    transform: rotate(45deg);
}


.process__img {
    width:9rem;
    height: 9rem;


}
.process__header {

    margin-bottom: 4.9rem;
    padding-top:1.9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}
.process__title{
    display: flex;
}
.process__description {
    margin-bottom: 8rem;
    margin-left: 0.8rem;
     max-width: 41.1rem;
    font-weight: 400;
    font-size:var(--text-size-medium);;
    line-height: 160%;
    opacity: 0.5;
}
.process__work {
    margin-bottom:6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}
.process__columns {
    display: flex;
}
.process__columns::after {
    content: '';
    display: block;
    width:130rem;
    height:.2rem;
    margin-top: 2.5rem;
    position: absolute;
    top:30rem;
    left:50%;
    transform:translate(-50%,0);
    background:linear-gradient(94.26deg,#C89afc 9.51%,#7c6afa 90.23%);



}



.process__text {
    line-height: 160%;
    font-size: 1.4rem;
    opacity: 0.5;

}
.process__item {
    max-width: 30.6rem;

}
.command {
    padding-bottom: 20rem;
}
.command__title {
    margin-bottom: 11.9rem;
}
.command__header {
    margin-bottom: 0;
}
.command__wrap {
    display: flex;
    justify-content: space-between;
    padding-left:11rem;
    padding-right: 11rem;
}
.command__img {
    width:19rem;
    height:19rem;
    margin-bottom:4rem;
    border-radius:50%;

}
.command__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.command__name {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 1.5rem;

}
.command__professional {
    font-size: var(--text-size-medium);
    line-height: 160%;
    margin-bottom: 3rem;

}
.command__link{
    font-size: var(--text-size-medium);
    line-height: 150%;
    border: 1px solid #ffff

}
.assembly {
    padding-bottom: 24.4rem;
}
.assembly__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.assembly__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 3rem;
}
.assembly__description {
    margin-bottom: 4.52rem;
    font-size: var(--text-size-medium);
    line-height: 160%;
}
.assembly__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    font-size:var(--text-size-medium);
    line-height: 150%;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5.08rem;

}
.assembly__social {
    display: flex;

}
.assembly__item {
    background: linear-gradient(94.26deg, #c89afc 9.51%,#7c6afa 90.23%);
    border-radius:50%;
    width:5rem;
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

}
.assembly__item:not(:last-child) {
    margin-right: 3rem;

}
.assembly__item img {
    width: 50%;
    height: 50%;

}
.assembly__item:hover {
    transform: scale(1.1);
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;

}
.modal__inner {
    position: relative;
    width: 66.3rem;
    padding: 9rem 1rem;
    background: #2c2c2c;
    text-align: center;
}
.modal__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom:1rem;

}
.modal__subheader {
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    text-align: center;
    color:#FFFFFF;
    opacity: 0.5;
    margin-bottom: 2.8rem;


}
.modal__elements {
    width:45.4rem;
    margin:0 auto 3.2rem  auto;


}
.modal__item {
    height:4.4rem;



}
.modal__input{
    width:100%;
    height:100%;
    background-color: grey;
    border-radius: 5rem;
    font-size: 1.4rem;
    line-height: 160%;
    color:#ffffff;
    opacity: 0.8;
}
.modal__item:not(:last-child) {
    margin-bottom: 1.8rem;
}
.modal__close {
    position: absolute;
    top:2rem ;
    right: 2rem;
    width:3rem;
    height:3rem;
    cursor: pointer;
}
.noscroll {
    overflow: hidden;
    height: 100%;
}

